* {
    padding: 0;
    margin: 0;
}

.blue_cards {
    background-color: blue;
    text-align: center;
    display: flex;
    align-items: center;
    width: 200px;
    height: 350px;
    position: absolute;
    top: 10%;
    left: 90%; 
}

.pink_cards {
    background-color: pink;
    text-align: center;
    display: flex;
    align-items: center;
    width: 200px;
    height: 350px;
    position: absolute;
    top: 10%;
    left: 80%; 
}

.yellow_cards {
    background-color: yellow;
    text-align: center;
    display: flex;
    align-items: center;
    width: 200px;
    height: 350px;
    position: absolute;
    top: 10%;
    left: 70%; 
}

#square1 {
    background-color: yellow;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10%;
    left: 10%; 
}

#square2 {
    background-color: blue;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10%;
    left: 15.3%; 
}

#square3 {
    background-color: pink;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 24.5%;
    left: 15.3%; 
}

#square4 {
    background-color: blue;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 39%;
    left: 15.3%; 
}

#square5 {
    background-color: yellow;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 39%;
    left: 10%; 
}

#square6 {
    background-color: pink;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 39%;
    left: 4.7%; 
}

#square7 {
    background-color: blue;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 53.5%;
    left: 4.7%; 
}

#square8 {
    background-color: yellow;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 68%;
    left: 4.7%; 
}
#square9 {
    background-color: pink;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 68%;
    left: 10%; 
}
#square10 {
    background-color: yellow;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 68%;
    left: 15.3%; 
}
#square11 {
    background-color: blue;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 68%;
    left: 20.6%; 
}
#square12 {
    background-color: yellow;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 68%;
    left: 25.9%; 
}
#square13 {
    background-color: pink;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 53.5%;
    left: 25.9%; 
}
#square14 {
    background-color: blue;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 39%;
    left: 25.9%; 
}
#square15 {
    background-color: yellow;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 24.5%;
    left: 25.9%; 
}
#square16 {
    background-color: pink;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 24.5%;
    left: 31.2%; 
}
#square17 {
    background-color: blue;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 24.5%;
    left: 36.5%; 
}
#square18 {
    background-color: yellow;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 39%;
    left: 36.5%; 
}



